[submit]
	action = rebase if necessary
[access "refs/heads/*"]
	create = group oppo_msm8939
	push = group oppo_msm8939
	label-Code-Review = -2..+2 group oppo_msm8939
	label-Verified = -1..+1 group oppo_msm8939
	submit = group oppo_msm8939
	forgeAuthor = group oppo_msm8939
	forgeCommitter = group oppo_msm8939
